<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">

    <title>Gabriel Verfaille</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='style.css')}}">
  </head>
  <body>
  
  {% include 'menu.html' %}

   
    <h2>Travaux</h2>

    <div id="works">
        
{% for a in latest %}

        <div class="work">
          <a href="{{a.path}}">
            <div class="wimg">
            <img src="static/img/{{a.img}}"/>
        </div>

                <div class ="winfo">
                  <h2 class="wtitle">{{a.title}}</h2>
                  <span class= "wdesc">{{a.desc}}</span>
                  <span class="wdate">{{a.published}}  /  {{a.cat}}</span>
               </div>
          </a>

    </div>

{% endfor %}

</div>

    <script src="index.js"></script>
  </body>
</html>
